$white: #FFFFFF;
$black: #000000;
$mainYellow: #C7B025;
$darkGray: #88898B;
$lightGray: #BFBFB4;
$mainEnglishWords: 'Noto Sans', sans-serif;
$mainChineseWords: 'Noto Sans TC', sans-serif;
$BeVietnam: 'Be Vietnam Pro', sans-serif;




